    
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2015 <a href="#">Pivot Security</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="back-to-top">
                                <a href="#top">Back To Top</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="https://www.facebook.com/pages/Pivot-Security/489913541152821" class="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/Pivotyourbusine" class="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/pivot-security" class="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </footer>