{% extends '../layouts/default.html' %}

{% block main %}
  <h1>Profile</h1>
 {% endblock %}

{% block content %}

<h4>Account Details</h4>
<p>

    User Name : {{ user.name || user.username }}
    
</p>
<p> 
    Email : {{ user.email}}
</p>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="/projects/new" title="New Project">New Project</a>
      </div>
    </div>
      

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="/reset" class="show-signup">Forgot password?</a>
      </div>
    </div>
    

{% endblock %}
 