{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if project.isNew %}
    {% set action = '/projects' %}
  {% else %}
    {% set action = '/projects/' + project._id %}
  {% endif %}

  <div class="row">
    <div class="col-md-8">
      <form id="project-setup-form" method="post" action="{{ action }}" enctype="multipart/form-data" role="form">
          <div id="wizard" class="swMain">
  			<ul>
  				<li><a href="#step-1">
                <span class="stepNumber">1</span>
                <span class="stepDesc">
                   Step 1<br />
                   <small>Project Details</small>
                </span>
            </a></li>
  				<li><a href="#step-2">
                <span class="stepNumber">2</span>
                <span class="stepDesc">
                   Step 2<br />
                   <small>IOT Configuration</small>
                </span>
            </a></li>
  				<li><a href="#step-3">
                <span class="stepNumber">3</span>
                <span class="stepDesc">
                   Step 3<br />
                   <small>Data Set-up</small>
                </span>                   
             </a></li>
  				<li><a href="#step-4">
                <span class="stepNumber">4</span>
                <span class="stepDesc">
                   Step 4<br />
                   <small>API Credentials</small>
                </span>                   
            </a></li>
  			</ul>
  			<div id="step-1">
                
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
        {% if not project.isNew %}
          <input type="hidden" name="_method" value="PUT">
        {% endif %}

          <h3>Step -1 Project Set-up</h3>
        <fieldset>
            <legend>Project Setup</legend>
     
          <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title *</label>
          <div class="col-sm-10">
            <input type="text" name="title" value="{{ project.title }}" placeholder="Enter the title" class="form-control required" id="title">
          </div>
        </div>

        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Description *</label>
          <div class="col-sm-10">
            <textarea rows="5" name="body" placeholder="Enter the project description (optional)" id="desc" cols="30" rows="10" class="form-control">{{ project.body }}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <input type="text" name="tags" value="{{ project.tags }}" placeholder="Enter the tags (optional)" class="form-control" id="tags">
          </div>
        </div>
            <p>(*) Mandatory</p>
        </fieldset>
     
        </div>
  	    <div id="step-2">  
        <h3>Set 2 - IOT Setup</h3>
        <fieldset>
            <legend>IOT Device and Envrionemnt Information</legend>
     
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Device ID *</label>
          <div class="col-sm-10">
            <input type="text" name="deviceid" value="{{ project.deviceid }}" placeholder="Enter the Device ID" class="form-control required" id="deviceid">
          </div>
        </div>

        <div class="form-group">
          <label for="file" class="col-sm-2 control-label">IOT CODE </label>
          <div class="col-sm-10">
            <input type="file" name="image" class="form-control" id="file">
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">IP Config</label>
          <div class="col-sm-10">
             <label for="iotiptype" class="col-sm-2 control-label">Static
            <input type="radio" name="iptype" value="static" {% if project.iptype == 'static' %} checked {% endif %} placeholder="Static IP" class="form-control" id="iptype1"></label>
              <label for="iotiptype" class="col-sm-2 control-label">Dyanmic
            <input type="radio" name="iptype" value="dynamic" {% if project.iptype == 'dynamic' %} checked {% endif %} placeholder="Dynamic IP" class="form-control" id="iptype2"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="ipaddress" class="col-sm-2 control-label">IP Address</label>
          <div class="col-sm-10">
            <input type="text" name="ipaddress" value="{{ project.ipaddress }}" placeholder="Enter the IP address" class="form-control" id="ipaddress">
          </div>
        </div>
        <div class="form-group">
          <label for="ipgateway" class="col-sm-2 control-label">Gateway</label>
          <div class="col-sm-10">
            <input type="text" name="ipgateway" value="{{ project.ipgateway }}" placeholder="Enter the gateway" class="form-control" id="ipgateway">
          </div>
        </div>
        <div class="form-group">
          <label for="wifissid" class="col-sm-2 control-label">WIFI SSID</label>
          <div class="col-sm-10">
            <input type="text" name="wifissid" value="{{ project.wifissid }}" placeholder="Enter the wifi ssid" class="form-control" id="wifissid">
          </div>
        </div>
        <div class="form-group">
          <label for="wifikey" class="col-sm-2 control-label">WIFI Passkey</label>
          <div class="col-sm-10">
            <input type="text" name="wifipasskey" value="{{ project.wifipasskey }}" placeholder="Enter the wifi key" class="form-control" id="wifipasskey">
          </div>
        </div>

            <p>(*) Mandatory</p>
        </fieldset>
     
        </div>
  	    <div id="step-3">  
        <h3>Step 3 - Service Set-up</h3>
        <fieldset>
            <legend>Service Set-up</legend>
        <div class="form-group">
          <label for="inputdata" class="col-sm-2 control-label">Data Config</label>
          <div class="col-sm-10">
             <label for="inputdata" class="col-sm-2 control-label">JSON
            <input type="radio" name="datatype" {% if project.datatype == 'JSON' %} checked {% endif %} value="JSON" placeholder="JSON data" class="form-control" id="inputdata1"></label>
              <label for="inputdata" class="col-sm-2 control-label">PlainText
            <input type="radio" name="datatype" {% if project.datatype == 'Plain Text' %} checked {% endif %}  value="Plain Text" placeholder="Plain Text data" class="form-control" id="inputdata2"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="sampledata" class="col-sm-2 control-label">Sample Data (optional)</label>
          <div class="col-sm-10">
            <textarea rows="5" name="datasample" placeholder="Enter the sample data string" id="datasample" cols="30" rows="10" class="form-control">{{ project.datasample }}</textarea>
          </div>
        </div>

            
            <p>(*) Mandatory</p>
        </fieldset>
     </div>
  	    <div id="step-4">  
        <h3>Web, Mobile and API set-up</h3>
        <fieldset>
            <legend>API Credentials</legend>
        <div class="form-group">
          <label for="apikey" class="col-sm-2 control-label">API Key</label>
          <div class="col-sm-10">
            <input type="text" readonly name="apikey" value="{{ project.apikey }}" placeholder="The api key" class="form-control" id="apikey">
          </div>
        </div>
        <div class="form-group">
          <label for="apisecret" class="col-sm-2 control-label">API Passkey</label>
          <div class="col-sm-10">
            <input type="text" readonly name="apisecret" value="{{ project.apisecret }}" placeholder="The api secret" class="form-control" id="apisecret">
          </div>
        </div>
        <div class="form-group">
          <label for="vendorid" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <input type="hidden" readonly name="vendorid" value="{{ project.vendorid }}" placeholder="The Vendor ID" class="form-control" id="vendorid">
          </div>
        </div>
        </fieldset>
        </div>

    </div>
    </form>
          
    </div>
    <div class="col-md-4">
      {% if (!project.isNew && project.image && project.image.files && project.image.files.length) %}
        <!-- IOt image exists -->
      {% endif %}
    </div>
  </div>

<script type="text/javascript">

    $(document).ready(function(){
    	// Smart Wizard 	
  		$('#wizard').smartWizard();
      
      function onFinishCallback(){
        $('#wizard').smartWizard('showMessage','Finish Clicked');
      }     
		});


</script>

{% endblock %}
