{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ project.title }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p><strong>Project Title: {{ project.body }}</strong></p>
      <p><strong>Project unique ID - {{ project.id }}</strong></p>
      <div class="meta">
        {% if (project.user) %}
          <strong>Author: &nbsp;
          <a href="{{ '/users/' + project.user._id }}">
            {{ project.user.name || project.user.username }}
          </a></strong>
        {% endif %}
        {% if (project.tags) %}
          <p><strong>
            Tags: &nbsp;
            {% for tag in project.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
            </strong>
          </p>
        {% endif %}
        <p>
            <span class="muted"> <strong>Created : {{ project.createdAt.toISOString()|date('M d, Y  h:m a') }}</strong></span>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!project.isNew && project.image && project.image.files && project.image.files.length) %}
        <img src="{{ project.image.cdnUri + '/mini_' + project.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/projects/' + project.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/projects/' + project._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

  <br>
  <h3>Log</h3>
  {% for iotlog in project.iotlogs %}
    {% include '../iotlog/iotlog.html' %}
  {% endfor %}
  {% include '../iotlog/form.html' %}
{% endblock %}
