{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ project.title }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="cd-container">
        <table class="pretty-table">
        <tr>
            <td>Project Title</td><td>{{ project.body }}</td>
        </tr>
        <tr>
            <td>Device ID</td><td>{{ project.deviceid }}</td>
        </tr>
        <tr>
            <td>Project API Key</td><td>{{ project.apikey }}</td>
        </tr>
        <tr>
            <td>Project API Secret</td><td>{{ project.apisecret }}</td>
        </tr>
        <tr>
            <td>Mobile App Display Name </td>{{ project.vendorid }}<td></td>
        </tr>
        </table>
      </div>
        <p>&nbsp;</p>
      <div class="meta">
        {% if (project.user) %}
          <strong>Author: &nbsp;
          <a href="{{ '/users/' + project.user._id }}">
            {{ project.user.name || project.user.username }}
          </a></strong>
        {% endif %}
        {% if (project.tags) %}
          <p><strong>
            Tags: &nbsp;
            {% for tag in project.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
            </strong>
          </p>
        {% endif %}
        <p>
            <span class="muted"> <strong>Created : {{ project.createdAt.toISOString()|date('M d, Y  h:m a') }}</strong></span>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!project.isNew && project.image && project.image.files && project.image.files.length) %}
        <img src="{{ project.image.cdnUri + '/mini_' + project.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/projects/' + project.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/projects/' + project._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

  <br/>
  <h3>Logs - <a href="#" onclick="$('#logstable').toggle();return false;">Show/Hide</a>
  <form action="{{ '/projects/' + project.id + '/clearlogs' }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Clear All</button>
  </form>
</h3>
<div id="logstable" style="display:none;">
  {% for iotlog in project.iotlogs %}
    {% include '../iotlog/iotlog.html' %}
    {% set len = len + 1 %} 
  {% endfor %}
  {% if (page > 0) %}
    <form action="{{ '/projects/' + project.id }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">    
        <input type="hidden" name="lpage" value="{{lpage}}">
        <input type="hidden" name="lprev" value="true">
        <button class="btn btn-lexta" type="submit">Previous</button>
    </form>
    {% endif %}
    {% if (len >= 30) %}
    <form action="{{ '/projects/' + project.id }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">    
        <input type="hidden" name="lpage" value="{{lpage}}">
        <input type="hidden" name="next" value="true">
        <button class="btn btn-rexta" type="submit">Next</button>
    </form>
    {% endif %}
</div>
<hr/>
 <!-- {% include '../iotlog/form.html' %} -->
<hr/>
  <h3>Messages - <a href="#" onclick="$('#messagetable').toggle();return false;">Show/Hide</a></h3>
  <form action="{{ '/projects/' + project.id + '/clearmessages' }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Clear All</button>
  </form>
<div id="messagetable" style="display:none;">
  {% set len = 0 %} 
  {% for message in messages %}
    {% include '../iotlog/messages.html' %}
    {% set len = len + 1 %} 
  {% endfor %}
  {% if (page > 0) %}
    <form action="{{ '/projects/' + project.id }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">    
        <input type="hidden" name="page" value="{{page}}">
        <input type="hidden" name="prev" value="true">
        <button class="btn btn-lexta" type="submit">Previous</button>
    </form>
    {% endif %}
    {% if (len >= 30) %}
    <form action="{{ '/projects/' + project.id }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">    
        <input type="hidden" name="page" value="{{page}}">
        <input type="hidden" name="next" value="true">
        <button class="btn btn-rexta" type="submit">Next</button>
    </form>
    {% endif %}
</div>
 <!-- {% include '../iotlog/form.html' %} -->

{% endblock %}
